<h1>Sing up Here:</h1>
<%= form_with model: @user do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit 'Sing Up'  %>
<% end %>




